<%= form_for(@facade.reminder) do |f| %>
  <% if @facade.reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facade.reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% @facade.reminder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= label_tag 'Remind on:' %>
    <%= select_hour(Time.now, field_name: :hour, prefix: :reminder) %>
    <%= select_minute(Time.now, field_name: :minute, prefix: :reminder) %>
    <%= label_tag 'Day:' %>
    <%= f.select :day_rule, options_for_select(@facade.reminder_decorator.day_rule)%>
    </br>
    <%= select_month(Date.today, field_name: :month, prefix: :reminder ) %>
    <%= select_year(Date.today, field_name: :year, prefix: :reminder) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
