<p id="notice"><%= notice %></p>

<h1>Reminders</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Remind on</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @facade.reminders.each do |reminder| %>
    <tr>
      <td><%= reminder.title %></td>
      <td><%= reminder.text %></td>
      <td><%= reminder.remind_on %></td>
      <td><%= link_to 'Show', reminder %></td>
      <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
      <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Reminder', new_reminder_path %>