<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @facade.reminder.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @facade.reminder.text %>
</p>

<p>
  <strong>Remind on:</strong>
  <%= @facade.reminder.remind_on %>
</p>

<%= link_to 'Edit', edit_reminder_path(@facade.reminder.id) %> |
<%= link_to 'List', reminders_path %>
