<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  We have a reminder for you as follows:
</p>
<p>
  Title: <%= @reminder.title %>.
  </br>
  Text: <%= @reminder.text %>.
</p>

</body>
</html>