<!DOCTYPE html>
<html>
<head>
  <title>ReminderApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
<%if current_user %>
  |
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </br>
  User email:
  <%= current_user.email %>
<%end %>
</body>
</html>
